.SignUpForm-container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 20px;
}

.SignUpForm-top {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding: 0px;
    position: absolute;
    top: 0px;
}

.SignUpForm-close {
    position: relative;
    top: 15px;
    left: 20px;
    background: none;
    border: 0;
}

.SignUpForm-create {
    position: absolute;
    top: 15px;
    left: 170px;
    font-size: 16px;
    font-weight: 900;
    background: none;
}

.SignUpForm-errors {
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
    color: #ff385c;
}

.SignUpForm-title {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 18px 0px 18px;
}

.SignUpForm-form {
    width: 100%;
}

.SignUpForm-main-container {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin: 10px 18px 0px 18px;
}

.SignUpForm-group-top {
    position: relative;
    display: flex;
    height: 48px;
}

.SignUpForm-group-middle {
    position: relative;
    display: flex;
    height: 48px;
}

.SignUpForm-group-description {
    position: relative;
    display: flex;
    height: 88px;
}

.SignUpForm-group-bottom {
    position: relative;
    display: flex;
    height: 48px;
}

.SignUpForm-group-top > input {
    height: 48px;
    width: 100%;
    border: none;
    border-bottom: 0;
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

.SignUpForm-group-middle > input {
    height: 48px;
    width: 100%;
    border: 0;
    border-top: 1px solid #c4c4c4;
    padding: 8px;
    outline: none;
}

.SignUpForm-group-bottom > input {
    height: 48px;
    width: 100%;
    border: 0;
    border-top: 1px solid #c4c4c4;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    padding: 8px;
}

.email label,
.username label,
.firstName label,
.lastName label,
.password label,
.confirmPassword label {
    position: absolute;
    height: 48px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    color: #878787;
    transition: 0.2s ease-in-out;
    padding: 2px;
    padding-left: 8px;
    font-size: 13px;
    transition: 0.2s ease-in-out;
}

.SignUpForm-group-top > input:focus + label,
.SignUpForm-group-middle > input:focus + label,
.SignUpForm-group-bottom > input:focus + label {
    color:#878787;
    font-size: 8px;
    top: -13px;
}

.SignUpForm-group-top > input:focus + label,
.SignUpForm-group-middle > input:focus + label,
.SignUpForm-group-bottom > input:focus + label,
.SignUpForm-group-top > input:valid + label,
.SignUpForm-group-middle > input:valid + label,
.SignUpForm-group-bottom > input:valid + label {
    color:#878787;
    font-size: 8px;
    top: -13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.SignUpForm-group-top > input:focus,
.SignUpForm-group-middle > input:focus,
.SignUpForm-group-bottom > input:focus {
    border: 2px solid black;
    border-radius: 8px;
}

.SignUpForm-button-container {
    margin: 20px 18px 0px 18px;
}

.SignUpForm-submit {
    height: 48px;
    width: 100%;
    background: linear-gradient(90deg, rgba(230,29,77,1) 0%, rgba(215,4,102,1) 100%);
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

.SignUpForm-submit:hover {
    background: radial-gradient(circle, rgba(230,29,77,1) 0%, rgba(215,4,102,1) 100%);
}
