* {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    box-sizing: border-box;
}

.Spots-container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 24px;
    padding: 20px 80px;
}

.Spots-card {
    height: 380px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.Spots-card-image {
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
    aspect-ratio: 1;
}

.Spots-image {
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    float: left;
}

.Spots-card-description {
    width: 100%;
    padding: 8px 0px;
}

.Spots-header {
    display: flex;
    justify-content: space-between;
}

.Spots-price {
    font-weight: bold;
}

.Spots-card-button-group {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.UserSpots-container {
    margin: 80px auto;
    width: 400px;
}

.star-icon {
    padding-right: 8px;
}
