.SpotDetails-reviews-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
}

.SpotDetails-review-card {
    width: calc(50% - 28px);
    height: 196px;
}

.Reviews-name {
    font-size: 16px;
    font-weight: bold;
}

.Reviews-review-text {
    font-size: 16px;
    padding: 0;
}

.Reviews-actions {
    display: flex;
    padding-top: 18px;
}

.Reviews-buttons {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
}
