.SpotDetails-reviews-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
}

.SpotDetails-review-card {
    min-width: calc(50% - 28px);
    max-width: 50%;
    min-height: 100px;
    max-height: 196px;
    display: flex;
    gap: 18px;
}

.Reviews-profile-image {
    padding: 8px;
}

.Reviews-name {
    font-size: 16px;
    font-weight: bold;
}

.Reviews-review-text {
    font-size: 16px;
    padding: 0;
}

.Reviews-actions {
    display: flex;
    padding-top: 18px;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    width: 200%;
}

.Review-action-edit {
    display: flex;
    align-items: center;
}

.Reviews-buttons {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
}
