.SpotDetails-reviews-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
}

.SpotDetails-review-card {
    width: calc(50% - 28px);
    min-width: calc(50% - 28px);
    min-height: 100px;
    max-height: 196px;
    display: flex;
    gap: 18px;
    overflow-wrap: break-word;
}

.Reviews-card-right {
    width: calc(100% - 56px);
    overflow-wrap: break-word;
}

.Reviews-profile-image {
    padding: 8px;
}

.Reviews-name {
    width: calc(100% - 35px);
    font-size: 16px;
    font-weight: bold;
}

.Reviews-review-text {
    width: calc(100% - 35px);
    font-size: 16px;
    padding: 0;
    overflow-wrap: break-word;
}

.Reviews-actions {
    display: flex;
    padding-top: 18px;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    width: 200%;
    padding-left: -5px;
}

.Review-action-edit, .Review-action-delete {
    display: flex;
    align-items: center;
}

.Reviews-buttons {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
}

.Review-action-edit > .Edit {
    padding-left: 0;
}

.Reviews-profile-image-image {
    border-radius: 50%;
    width: 24px;
}
