.Profile-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 64px;
    width: 70vw;
    padding: 32px 20px;
}

.Profile-left {
    width: 28%;
    max-width: 308px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: max-content;
}

.Profile-section-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding-bottom: 24px;
    border-bottom: 1px solid #cccccc;
}

.Profile-photo {
    width: 128px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.Profile-photo > img {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.Profile-header-secondary-verified {
    align-self: flex-start;
    font-size: 16px;
}

.profile-icon {
    padding-right: 8px;
}

.Profile-header-secondary {
    font-size: 16px;
}

.Profile-header-secondary {
    font-size: 22px;
    margin-bottom: 18px;
}

.Profile-confirmation {
    padding-bottom: 12px;
}

.Profile-disclaimer {
    font-size: 14px;
}

.Profile-right {
    width: 72%;
}

.Profile-sub-header {
    font-size: 14px;
    margin-bottom: 8px;
    color: #666666;
}

.Profile-section-about {
    border-bottom: 1px solid #cccccc;
    padding: 24px 0px;
    margin-bottom: 24px;
}

.Profile-header-secondary-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.Profile-review-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 18px;
}

.Profile-review-card > .Reviews-profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.Profile-small-text {
    font-size: 14px;
    color:#717171;
    margin-bottom: 16px;
}

.Profile-review-card-date-review {
    width: calc(100% - 35px);
    font-size: 16px;
    padding: 0;
    overflow-wrap: break-word;
}
