.SpotDetails-container {
    padding: 20px;
    width: 80vw;
    margin: auto;
}

.SpotDetails-name {
    font-size: 26px;
}

.SpotDetails-host {
    font-size: 22px;
}

.SpotDetails-subtitle, .SpotDetails-subtitle-left, .SpotDetails-subtitle-right {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}

.SpotDetails-subtitle-rating-rating {
    padding-right: 18px;
}

.SpotDetails-subtitle-left > .SpotDetails-subtitle-text {
    padding-right: 18px;
}

.SpotDetails-subtitle-rating {
    display: flex;
    align-items: center;
}

.SpotDetails-subtitle-rating-star {
    padding-right: 5px;
}

.SpotDetails-images {
    display: flex;
    justify-content: center;
}

.SpotDetails-image {
    width: 80%;
    padding: 20px;
}

.SpotDetails-main-content {
    display: flex;
    gap: 58px;
}

.SpotDetails-header, .SpotDetails-host-details {
    border-bottom: 1px solid #dddddd;
}

.SpotDetails-reviews-num {
    border-top: 1px solid #dddddd;
}

.SpotDetails-main-content-left {
    width: 60%;
}

.SpotDetails-main-content-right {
    width: 40%;
    margin-bottom: 10px;
}

.SpotDetails-header, .SpotDetails-host-details, .SpotDetails-description, .SpotDetails-reviews-container {
    padding: 32px 0px;
}

.SpotDetails-room-details {
    font-size: 16px;
}

.SpotDetails-host-details-header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}

.SpotDetails-host-details-desc, .Reviews-date {
    font-size: 14px;
    padding-bottom: 16px;
    color: #717171;
}

.SpotDetails-subtitle-right > .SpotDetails-subtitle-text:last-child {
    padding-left: 18px;
}

.SpotDetails-reviews-num {
    padding-top: 32px;
}

.SpotDetails-reviews-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.SpotDetails-review-card {
    width: 50%;
    height: 196px;
}

.Reviews-name {
    font-size: 16px;
    font-weight: bold;
}

.Reviews-review-text {
    font-size: 16px;
    padding: 0;
}

.Sticky {
    height: 200px;
}
