.SpotDetails-container {
    padding: 20px;
    width: 60vw;
    margin: auto;
}

.SpotDetails-name {
    font-size: 24px;
}

.SpotDetails-subtitle, .SpotDetails-subtitle-left, .SpotDetails-subtitle-right {
    display: flex;
    justify-content: space-between;
}

.SpotDetails-subtitle-left > .SpotDetails-subtitle-text {
    padding-right: 18px;
}

.SpotDetails-images {
    display: flex;
    justify-content: center;
}

.SpotDetails-image {
    width: 80%;
    padding: 20px;
}

.SpotDetails-host-details, .SpotDetails-description, .SpotDetails-reviews-container {
    padding: 10px 0px;
}

.SpotDetails-subtitle-right > .SpotDetails-subtitle-text:last-child {
    padding-left: 18px;
}

.SpotDetails-reviews-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.SpotDetails-review-card {
    width: 50%;
}
