.SpotDetails-container {
    padding: 20px;
    width: 70vw;
    margin: auto;
    transition: ease all .5s;
}

.SpotDetails-name {
    font-size: 26px;
}

.SpotDetails-host, .SpotDetails-offers {
    font-size: 22px;
}

.SpotDetails-subtitle, .SpotDetails-subtitle-left, .SpotDetails-subtitle-right {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}

.SpotDetails-subtitle-rating-rating {
    padding-right: 18px;
}

.SpotDetails-subtitle-left > .SpotDetails-subtitle-text {
    padding-right: 18px;
}

.SpotDetails-subtitle-rating {
    display: flex;
    align-items: center;
}

.SpotDetails-subtitle-rating-star {
    padding-right: 5px;
}

.SpotDetails-subtitle-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SpotDetails-images {
    display: flex;
    justify-content: center;
    margin: 24px auto;
    max-width: 1120px;
    height: 400px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 18px;
    gap: 8px;
}

.SpotDetails-one-image {
    margin: 24px auto;
    width: 100%;
    max-width:  1120px;
    height: 400px;
    border-radius: 18px;
    overflow: hidden;
}

.SpotDetails-image {
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    float: left;
}

.SpotDetails-main-image {
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    float: left;
}

.SpotDetails-main {
    width: 50%;
}

/* .SpotDetails-small-images {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.SpotDetails-small-image {
    object-fit: cover;
    max-width: 50%;
    height: 50%;
    flex: 1;
} */

.SpotDetails-small-images {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.SpotDetails-small-image {
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    float: left;
}

.SpotDetails-small-image-container {
    /* flex: 1 1 calc(50% - 16px); */
    width: calc(50% - 4px);
    height: 50%;
}

/* .SpotDetails-small-images > *:not(:first-child, :nth-child(3)) {
  border-top: 8px white solid;
}

.SpotDetails-small-images > *:not(:last-child, :nth-child(3)) {
  border-right: 8px white solid;
} */

.SpotDetails-main-image {
    width: 100%;
}

.SpotDetails-main-content {
    display: flex;
    justify-content: space-between;
    gap: 58px;
}

.SpotDetails-header, .SpotDetails-host-details {
    border-bottom: 1px solid #dddddd;
}

.SpotDetails-main-content-left {
    width: 100%;
}

.SpotDetails-main-content-right {
    max-width: 35%;
    margin-bottom: 10px;
}

.SpotDetails-host-details-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 100%;
}

.SpotDetails-icon {
    font-size: 20px;
    width: 15px;
}

.SpotDetails-header,
.SpotDetails-host-details,
.SpotDetails-description,
.SpotDetails-reviews-container,
.SpotDetails-moo-cover,
.SpotDetails-offers-header {
    padding: 32px 0px;
    width: calc(100% - 15px);
}

.SpotDetails-room-details {
    font-size: 16px;
}

.SpotDetails-host-details-header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.SpotDetails-host-details-desc {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.SpotDetails-host-details-desc, .Reviews-date {
    font-size: 14px;
    padding-bottom: 16px;
    color: #717171;
}

.SpotDetails-subtitle-right > .SpotDetails-subtitle-text:last-child {
    padding-left: 18px;
}

.SpotDetails-subtitle-right {
    gap: 24px;
}

.Sticky {
    height: 200px;
}

.SpotDetails-delete-button {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 8px;
}

.SpotDetails-login-signup {
    width: 100%;
    position: sticky;
    top: 90px;
    border: 1px solid #b0b0b0;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.SpotDetails-login-signup-header {
    font-size: 20px;
    margin-bottom: 18px;
    margin-left: 10px;
}

.SpotDetails-small-text {
    font-size: 16px;
    margin-left: 10px;
}

.SpotDetails-login-signup-buttons {
    margin: 20px 14px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.SpotDetails-view-all-bookings {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.SpotDetails-reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #dddddd;
    padding-top: 28px;
    width: calc(100% - 15px);
}

.SpotDetails-review-button-container {
    width: 150px;
}

.SpotDetails-moo-cover {
    width: calc(100% - 15px);
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
}

.SpotDetails-moo-cover-image {
    height: 56px;
}

.SpotDetails-moo-cover-image > img {
    height: 100%;
    object-fit: contain;
}


.SpotDetails-offers-header {
    width: calc(100% - 15px);
    border-top: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.SpotDetails-offers-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}

.SpotDetails-offer-details-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    width: calc(50% - 16px);
}

.spot-icon {
    color: #333333;
}

.SpotDetails-underline {
    text-decoration: underline;
}

.SpotDetails-bold {
    font-weight: bold;
}

.SpotDetails-reserve-bar {
    display: none;
}

.SpotDetails-divider {
    display: hidden;
}

@media (min-width: 1128px) {
    .SpotDetails-container {
        padding: 80px;
        width: 100%;
        margin: auto;
    }

    .SpotDetails-main-content-right {
        max-width: 35%;
    }
}

@media (max-width: 1127px) {
    .SpotDetails-container {
        padding: 40px;
        width: 100%;
        margin: auto;
    }

    .SpotDetails-main-content-right {
        max-width: 240px;
    }
}

@media (max-width: 743px) {
    .App-container {
        padding-top: 56px;
        width: 100%;
        overflow-x: hidden;
    }

    .SpotDetails-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        margin-bottom: 104px;
    }

    .SpotDetails-top-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .SpotDetails-top-container > .SpotDetails-name {
        order: 2;
    }

    .SpotDetails-top-container > .SpotDetails-subtitle {
        order: 3;
    }

    .SpotDetails-name {
        padding: 0px 24px;
    }

    .SpotDetails-subtitle {
        display: flex;
        flex-flow: row wrap;
    }

    .SpotDetails-subtitle-left, .SpotDetails-subtitle-right {
        padding: 0px 24px;
        margin-top: 8px;
    }

    .SpotDetails-one-image, .SpotDetails-images {
        border-radius: 0;
        width: 100%;
        padding-top: 0px;
    }

    .SpotDetails-main {
        width: 100%;
    }

    .SpotDetails-small-images {
        display: none;
    }

    .SpotDetails-main-content > .SpotDetails-main-content-left {
        width: 100%;
        padding: 0px 24px;
    }

    .SpotDetails-main-content-right {
        display: none;
    }

    .SpotDetails-reserve-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        padding: 24px;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
    }

    .SpotDetails-reserve-bar-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 130px;
    }

    .SpotDetails-reserve-bar-header {
        font-size: 16px;
    }

    .SpotDetails-reserve-bar-header-night {
        font-size: 14px;
        padding-left: 4px;
    }

    .Navigation-logo {
        padding-left: 16px;
    }

    .ProfileButton-dropdown-container {
        padding-right: 18px;
    }

    .profile-dropdown {
        right: 18px;
    }

    .SpotDetails-reviews-header {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-bottom: 24px;
        border: 0;
    }
    .SpotDetails-reviews-container {
        padding: 0px 24px;
        width: 100%;
    }

    .SpotDetails-divider {
        width: 100%;
        border-top: 1px solid #dddddd;
        margin-top: 16px;
    }

}
