* {
    margin: 0;
}

.Navigation-container {
    width: 100%;
    height: 80px;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    z-index: 1;
}
.Navigation-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.Navigation-session-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.Navigation-links:link, .Navigation-links:visited {
    color: #000000;
    text-decoration: none;
    /* font-family: Roboto; */
    font-size: 12px;
}


.Navigation-links:not(:last-child) {
    padding: 0px 10px;
}

.profile-dropdown {
    width: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 30px;
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
    padding: 10px;
}

.hidden {
    display: none;
}

.profile-dropdown-links {
    padding: 5px 0px;
    position: relative;
}

.ProfileButton-icon {
    width: 100%;
    background: none;
    border: none;
    align-self: flex-end;
}

.ProfileButton-dropdown-container {
    display: flex;
    flex-direction: column;
}

.profile-dropdown-logout {
    background: none;
    border: 0;
    font-size: 12px;
    padding: 0;
}
