@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@700&display=swap');

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.LoginFormModal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.LoginFormModal-top {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding: 0px;
    position: absolute;
    top: 0px;
}

.LoginFormModal-close {
    position: relative;
    top: 15px;
    left: 20px;
    background: none;
    border: 0;
}

.LoginFormModal-Login {
    position: absolute;
    top: 15px;
    left: 170px;
    font-size: 16px;
    font-weight: 900;
    background: none;
}

.LoginFormModal-header {
    font-size: 22px;
    font-weight: 500;
    margin: 70px 18px 0px 18px;
}

.LoginFormModal-form {
    width: 100%;
    align-self: center;
}

.LoginFormModal-group {
    margin: 0px 5px 18px 5px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin: 0px 18px 0px 18px;
}

.LoginFormModal-group-credential {
    position: relative;
    display: flex;
    height: 56px;
}

.LoginFormModal-group-password {
    position: relative;
    display: flex;
    height: 56px;
}

.LoginFormModal-group-credential > input {
    height: 56px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    padding: 8px;
}

.LoginFormModal-group-password > input {
    height: 56px;
    width: 100%;
    border: 0;
    border-top: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    padding: 8px;
}

.LoginFormModal-group-credential label {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    color: #878787;
    transition: 0.2s ease-in-out;
    padding: 2px;
    padding-left: 8px;
    font-size: 13px;
}

.LoginFormModal-group-password label {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    color: #878787;
    transition: 0.2s ease-in-out;
    padding: 2px;
    padding-left: 8px;
    font-size: 13px;
}

.LoginFormModal-errors-container {
    margin: auto;
    height: 30px;
    display: flex;
    align-items: center;
}

.LoginFormModal-errors, .LoginFormModal-errors > li {
    list-style-type: none;
    font-size: 12px;
    padding: 0px;
    color: #ff385c;
    align-self: center;
}

.LoginFormModal-group-credential > input:focus + label,
.LoginFormModal-group-credential > input:valid + label,
.LoginFormModal-group-password > input:focus + label,
.LoginFormModal-group-password > input:valid + label {
    color:#878787;
    font-size: 8px;
    top: -13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.LoginFormModal-group-credential > input:focus,
.LoginFormModal-group-password > input:focus {
    border: 2px solid black;
    border-radius: 8px;
}

.LoginFormModal-button-container {
    margin: 20px 18px 0px 18px;
}

.LoginFormModal-submit {
    height: 48px;
    width: 100%;
    background: linear-gradient(90deg, rgba(230,29,77,1) 0%, rgba(215,4,102,1) 100%);
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

.LoginFormModal-submit:hover {
    background: radial-gradient(circle, rgba(230,29,77,1) 0%, rgba(215,4,102,1) 100%);
}

.LoginFormModal-demo {
    height: 48px;
    width: 100%;
    background: white;
    border-radius: 8px;
    border: 2px solid rgba(230,29,77,1);
    color: rgba(230,29,77,1);
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

.LoginFormModal-demo:hover {
    height: 48px;
    width: 100%;
    background: white;
    border-radius: 8px;
    border: 2px solid rgba(215,4,102,1);
    color: rgba(215,4,102,1);
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    transition: 0.2s ease-in-out;
}
